.button {
  user-select: none;
  cursor: pointer;
  padding: $main-padding * 2;
  display: flex;
  align-self: center;

  border-radius: $main-padding;
  transition: $global-transition;

  font-weight: bolder;

  background: $color-gray-2;
  color: $color-gray-4;
  flex: 1 1;

  &:hover {
    background: darken($color-gray-2, 10%);
    color: darken($color-gray-4, 25%);
  }

  & + .button { margin-left: $main-padding }
// elements
  &__title {
    flex: 1 1;
    align-self: center;
  }
  &__icon {
    flex: 0;
    align-self: center;
  }
  &__title + &__icon,
  &__icon + &__title { margin-left: $main-padding }

// modifiers
  &--is-active {
    color: $color-blue-1;
    .icon { background-position-x: -20px }
    .icon--i-hamburger { transform: rotate(180deg) }
  }

  &--reset {
    padding: $main-padding;
    border-radius: $main-padding * 2;
  }
  &--inline {
    flex: 0;
    display: inline-flex;
    padding: $main-padding;
    white-space: nowrap;
  }

  &--small {
    padding: $main-padding/2;
    text-transform: uppercase;

    .button__title {
      white-space: nowrap;
      font-size: .575rem;
      font-weight: bold;
    }
  }
  &--blue {
    background: $color-blue-1;
    color: $color-white;
    &:hover {
      background: $color-blue-2;
      color: $color-white;
    }
  }
  &--red {
    background: $color-red-1;
    color: $color-red-2;
    &:hover {
      background: darken($color-red-1, 10%);
      color: darken($color-red-2, 10%);
    }
  }
  &--gray {
    background: $color-gray-2;
    color: $color-gray-4;
    &:hover {
      background: darken($color-gray-2, 10%);
      color: darken($color-gray-4, 10%);
    }
  }
  &--yellow {
    background: $color-yellow-1;
    color: $color-yellow-2;
    &:hover {
      background: darken($color-yellow-1, 10%);
      color: darken($color-yellow-2, 10%);
    }
  }
  &--icon-after {
    .button__icon {
      align-self: end;
    }
  }
  &--icon-only {
    flex-grow: 0;
    line-height: 0;
    .button__text { display: none }
  }
  &--plain {
    background: none;
  }
}

.fieldset + .button {
  margin-top: $main-padding * 2;
}
