.input {
  border: 1px solid $color-gray-2;
  border-radius: $main-padding;
  color: $color-gray-4;
  padding: 0 $main-padding * 2;
  line-height: $main-padding * 4;
  box-shadow: 0 0 0px $color-white;
  box-sizing: border-box;

  transition: $global-transition;

  &:focus {
    border: 1px solid $color-gray-3;
    box-shadow: 0 0 3px $color-gray-3;
  }
  & + .input__reset {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: $main-padding * 2;
    padding: $main-padding;
    background: $color-white;
  }
  &--block {
    display: block;
    width: 100%;
  }
  &--is-not-valid {
    border-color: $color-red-2;
    background-color: $color-red-1;
    &:focus {
      border-color: $color-red-2;
      box-shadow: 0 0 3px $color-red-2;
    }
  }
  &--is-valid {
    border-color: $color-green-2;
    background-color: $color-green-1;
    &:focus {
      border-color: $color-green-2;
      box-shadow: 0 0 3px $color-green-2;
    }
  }

  &--select { border-radius: $main-padding $main-padding 0 0 }
}

.error {
  color: $color-red-2;
  font-size: .75rem;
}
.label {
  display: block;
}

.label + .input {
  margin-top: $main-padding;
}

.input + .label,
.fieldset + .fieldset {
  margin-top: $main-padding * 2;
}

@import 'searchSelect';
@import 'listSelected';



