.icon {
  display: inline-block;
  transition: transform .3s;
  // background-color: black;

// modifiers
  &--flags {
    background-color: transparent;
    width: 24px;
    height: 24px;
    background-image: url('../img/flags-sprite.svg');
    background-size: 24px auto;
  }
  &--icons {
    width: 20px;
    height: 20px;
    background-image: url('../img/icons-sprite.svg');
    background-size: 100px auto;
  }
  &--after { justify-self: end }

// base icons
  &--i-home       { background-position: 0 0 }
  &--i-star       { background-position: 0 -20px }
  &--i-edit       { background-position: 0 -40px }
  &--i-planet     { background-position: 0 -60px }
  &--i-watches    { background-position: 0 -80px }
  &--i-recycle    { background-position: -140px -100px }
  &--i-arrow      { background-position: 0 -120px }
  &--i-plus       { background-position: -160px -140px }
  &--i-hamburger  { background-position: 0 -160px }
  &--i-search     { background-position: 0 -180px }
  &--i-repeat     { background-position: 0 -200px }
  &--i-reset      { background-position: 0 -220px }
  &--i-settings   { background-position: 0 -240px }

// flags
  &--flag-germany   { background-position: 0 0 }
  &--flag-austria   { background-position: 0 -24px }
  &--flag-france    { background-position: 0 -48px }
  &--flag-portugal  { background-position: 0 -72px }
  &--flag-czechia   { background-position: 0 -96px }
  &--flag-sweden    { background-position: 0 -120px }
  &--flag-uk        { background-position: 0 -144px }
  &--flag-greece    { background-position: 0 -168px }
}

// special
.button--yellow {
  .icon--i-star { background-position: -80px -20px }
}
