.header {
  padding: 0 $main-padding * 2;
  z-index: 2;
  border-bottom: 1px solid $color-gray-2;

  &__heading {
    flex: 1;
    line-height: $mobile-header-height;
    text-align: center;
  }
  &__nav {
    padding: $main-padding * 2;
    top: calc( #{$mobile-header-height} + 1px);
  }
}
.content {
  &__top,
  &__side,
  &__mid {
    // transition: padding $transition-time;
  }
}
