.login {
  &__heading {
    text-align: center;

    &:before {
      display: block;
      text-align: center;
      content: 'logo';
      background: $color-gray-4;
      width: 60px;
      height: 60px;
    }

  }
  &__form {
    background: $color-gray-1;
    padding: $main-padding * 2;
  }
}
