// mobile
@media (max-width: 600px) {
  .desktop-only { display: none }
  .header {
    box-shadow: 0 10px 15px $color-gray-2;
    background: $color-white;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }
  .header__buttons {
    height: $mobile-header-height;
    justify-content: space-between;
    display: flex;
  }
  .header__nav {
    display: none;
    height: calc(100vh - (#{$main-padding} * 12));
    border-radius: 0 0 $main-padding 0;
    left: 0;
    top: $main-padding * 8;
    // right: $main-padding;
    position: absolute;
    background: $color-gray-1;
    box-shadow: 0 10px 15px $color-gray-4;

    &--is-active {
      display: block;
      width: 50%;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    padding-top: $mobile-header-height;

    &__top { order: 1 }
    &__side { order: 2 }
    &__mid { order: 3 }

    &__top,
    &__mid,
    &__side { padding: $main-padding * 2 }
  }
  .content__heading {
    position: fixed;
    top: 0;
    left: $main-padding * 8;
    right: $main-padding * 8;
    line-height: 5rem;
    text-align: center;
    z-index: 3;
  }
  .login__buttons {
    margin: $main-padding * 2;
  }
  .login__heading {
    line-height: 60px;
    padding: $main-padding;
    &:before {
      float: left;
      margin-right: $main-padding * 2;
    }
  }
}

// desktop
@media (min-width: 600px) {
  .mobile-only { display: none }
  .wrapper {
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
  }
  .header { flex: 2 2 250px }
  .content { flex: 10 10 70% }

  .header {
    padding-top: $main-padding * 2;
    background: $color-gray-1;
    position: relative;
  }
  .content {
    display: block;
    height: 100vh;
    overflow-y: auto;
    &__top,
    &__mid,
    &__side {
      box-sizing: border-box;
      padding: $main-padding * 4;
    }

    &__top, &__mid {
      padding-bottom: 0;
      width: 70%;
      border-right: 1px solid $color-gray-2;
    }
    &__side {
      width: 30%;
      float: right;
    }

    &__h2 {
      font-weight: normal;
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
  }
  .content__search {
    background-image: url('../img/img-plane.svg');

    padding-top: $main-padding * 2;
    margin-top: $main-padding * 2;
    border-top: 1px solid $color-gray-2;
    background-position: right $main-padding * 2;
    background-repeat: no-repeat;
    background-size: 200px auto;
    .searchSelect__container {
      margin-top: $main-padding * 2;
      width: 50%;
    }
  }
  .content__side {
    .content__h2 {
      margin-bottom: $main-padding * 2;
    }
    .trip-set__content { border: none }
    .trip-set__header {
      .button { display: none }
    }
  }
  .content__mid {
    .trip {
      display: flex;
      position: relative;
      justify-content: space-between;

      &__main {
        display: block;
        padding: 0 $main-padding*2 0 calc(#{$main-padding * 2} + 60px);
      }
      &__title {
        flex: 0;
        i {
          position: absolute;
          left: $main-padding * 4;
          top: $main-padding * 4;
          transform: scale(2.5);
        }
        h4 { display: inline }
      }
      &__content { padding: 0 }
      &__buttons {
        flex: 0;
        flex-flow: row-reverse;
        display: flex;
        .button__title {
          display: none;

          & + .button__icon { margin: 0 }
        }
        .button__icon { line-height: 0 }
        .button + .button { margin: 0 $main-padding 0 0 }
      }
    }
    .table-form {
      &__value {
        li { display: inline }
      }
      &__set {
        margin-top: 0;
        display: inline-block;
      }
    }
  }
  .login {
    align-self: center;
    margin: 0 auto;
    flex: 1 1 50%;
    max-width: 400px;
  }
  .login__form {
    border: 1px solid $color-gray-2;
    border-radius: $main-padding * 2;
  }
  .login__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: $main-padding;
  }
  .login__heading {
    margin-bottom: $main-padding * 2;
    &:before {
      margin: 0 auto $main-padding * 2;
    }
  }
}
@media (min-width: 600px) and (max-width: 1200px) {
  .content__search {
    background-image: none;

    .searchSelect__container { width: 100% }
  }
  .content {
    &__top,
    &__mid,
    &__side {
      padding-left: $main-padding * 2;
      padding-right: $main-padding * 2;
    }
  }
}

