.searchSelect {
  &__container {
    position: relative;
    border-radius: $main-padding;
    transition: box-shadow .3s;
    border: 1px solid $color-gray-6;
    box-shadow: 0 0 0 $color-gray-2;

    &:before {
      display: inline-block;
      content: ' ';
      width: 20px;
      height: 20px;
      position: absolute;
      right: $main-padding;
      top: $main-padding;
      background: url('../img/icons-sprite.svg') 0 -180px ;
      background-size: 100px auto;
    }
  }

  // elements
  &__input {
    border: none;
    // transition: $global-transition;
    padding-right: $main-padding * 4;
    &:focus {
      border: none;
      box-shadow: none;
    }
  }

  &__list { border-radius: 0 0 $main-padding $main-padding }

  &__reset { display: flex }

  &__item {
    display: block;

    .button {
      border-top: 1px solid $color-gray-6;
      border-radius: 0;
    }
    &:last-child .button {
      border-radius: 0 0 $main-padding $main-padding;
    }
  }
  // modifiers
  &--active {
    .searchSelect__container {
      border: 1px solid $color-gray-6;
      box-shadow: 0 10px 15px $color-gray-2;
      .searchSelect__input:focus { box-shadow: none }
    }
  }
}
