.table-form {
  display: block;

  &__label,
  &__value,
  &__set {
    display: block;
    text-align: left;
  }
  &__label {
    color: $color-gray-5;
    margin-bottom: $main-padding / 2;
    font-size: 0.75rem;
  }
  &__value { color: $color-blue-2 }
  &__set + &__set { margin-top: $main-padding * 2 }
}
