.trip {
  background: #F9F9FA;
  border-radius: $main-padding;
  padding: $main-padding * 2;

  & + & {
    margin-top: $main-padding * 2;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    color: $color-blue-2;
  }
  &__content { padding: $main-padding * 2 0 }
  &__buttons { display: flex }
}

.trip-set {
  &__header { display: flex }
  &__title {
    flex: 1;
    color: $color-gray-3;
    line-height: 3rem;
  }
  &__content {
    border-top: 1px solid $color-gray-2;
    padding: 1.25rem 0;
  }
}
