body {
  font-family: 'Open Sans', Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.1875rem;
}

input, textarea {
  font-family: 'Open Sans', Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.1875rem;
}

h1 { font-size: 1.25rem }

h2 {
  font-size: 1.5rem;
  line-height: 4rem;
  font-weight: bold;
}

h3 { font-size: 0.875rem }

h4 {
  font-size: 1rem;
  color: $color-black;
  font-weight: bold;
}
