$main-padding: 0.625rem;

$color-white: #fff;
$color-black: #000;

$color-red-1: #FBEBE9;
$color-red-2: #D33927;

$color-green-1: #f4fff1;
$color-green-2: #0e5c10;

$color-yellow-1: #FEFBED;
$color-yellow-2: #F9D749;

$color-gray-1: #F9F9FA;
$color-gray-2: #F1F1F2;
$color-gray-3: #97999b;
$color-gray-4: #76787b;
$color-gray-5: #63666A;
$color-gray-6: #E4E4E5;

$color-blue-1: #338AF3;
$color-blue-2: #0A1E40;

$transition-time: .3s;
$global-transition: all $transition-time;

$menu-width: 240px;

$mobile-header-height: 5rem;
